<br>
<br>
<br>

<div class='text-center w-50 container'>
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
    <%= bootstrap_form_for :user, url: '/users' do |f| %>
      <%= f.text_field :first_name, placeholder: 'First name', hide_label: true %>
      <%= f.text_field :last_name, placeholder: 'Last name', hide_label: true %>
      <%= f.email_field :email, placeholder: 'Email', hide_label: true %>
      <%= f.password_field :password, placeholder: 'Password', hide_label: true %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password', hide_label: true %>
      <%= f.submit "@Create Account" %>
    <% end %>
  </div>
</div>
